.video-player{
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.js-play-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

.js-pause-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}
.play-button-container-background {
  background-color: black;
}

.play-button {
  color: white;
}
.stop-button {
  color: white;
}

